.btn {
  font-size: 5vh;
  font-family: inherit;
  font-weight: bold;
  background-color: inherit;
  border-radius: 1vh;
  border-color: white;
  color: white;
  padding: 2vh 5vh;
  cursor: pointer;
  width: fit-content;
}
